body {
    margin-top: 100px;
    font-family: "Arial Narrow";
}

div {
    
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 3px lightgray;
}

.factory {
    float: left;
    clear: right;
    background: url(../images/factory.png) no-repeat bottom center;
    width: 148px;
    height: 148px;
}

.parking {
    position: absolute;
    top: 0px;
    box-shadow: 0 0 0;
    border-radius: 0;
    margin-left: 250px;
    margin-top: 0;
    padding-top: 100px;
    min-height: 1000px;
    width: 150px;
    border: 0 solid black;
    border-right: 2px solid;
    border-left: 2px solid;
}
div.car,
div.truck,
div.scooter {
    width: 84px;
    height: 84px;
}

.car {
    background: url(../images/car.png) no-repeat bottom center;
}

.truck {
    background: url(../images/truck.png) no-repeat bottom center;
}

.scooter {
    background: url(../images/scooter.png) no-repeat bottom center;
}